@import "../../mixin.scss";

.o-info-card {
    height: 35rem;
    width: 22rem;
    margin: 2rem;
    background: var(--complementary-color);
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s;

    h1 {
        text-align: center;
        position: absolute;
        top: 11rem;
        font-size: 1.5rem;
    }

    .poke-image {
        height: 12rem;
        width: 12rem;
    }

    .top {
        width: 23rem;
        position: absolute;
        top: -1rem;
        left: -0.5rem;
        z-index: 1;
    }

    .bottom {
        width: 23rem;
        position: absolute;
        transform: rotateX(180deg);
        bottom: -1rem;
        left: -0.5rem;
        z-index: 1;
    }

    @include md{
        width: 17rem;
        height: 30rem;

        .top{
            width: 18rem;
        }

        .bottom{
            width: 18rem;
        }

        h1{
            top: 10rem;
        }
    }
}


