@import "../../mixin.scss";

.o-logo{
    display: flex;
    align-items: center;
    width: 16%;
    height: 8rem;
    overflow: hidden;

    img{
        height: auto;
        width: 100%;
    }

    @include lg{
        height: 100%;
        width: auto;

        img{
            height: 100%;
            width: auto;
        }
    }
}